
h1{
    color: tomato;
    text-align: center;
}
h2{
    color: dodgerblue;
    text-align: center;
}
div{
    width: 60%;
}
body{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y:bottom ;
    background-attachment: fixed;
    color: black;
}
