body{
    background-image: linear-gradient(90deg, #fcbf16, #992154);
    text-align: center;
}
h1{
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
}
img {
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    }